<!DOCTYPE html>
<html lang="kz">
<head>
    <meta charset="UTF-8">
    <title>Успех</title>
</head>
<body>   
    <form action="{{url_for('start')}}">
        <div class="action-form">
        <p>Выгрузка завершена.</p>
        </div>
        <div>
        {% if name %}
            <p>{{name}} не найден.</p>
        {% endif %}
        {% if group %}
            <p>{{group}} не найден.</p>
        {% endif %}
        </div>
        <button type="submit">Вернуться назад</button>
    </form>
</body>
</html>