<!DOCTYPE html>
<html lang="kz">
<head>
    <meta charset="UTF-8">
    <title>Сәтті</title>
</head>
<body>   
    <form action="{{url_for('start')}}">
        <div class="action-form">
            <p>Жүктеу аяқталды.</p>
        </div>
        <div>
        {% if name %}
            <p>{{name}} табылмады.</p>
        {% endif %}
        {% if group %}
            <p>{{group}} табылмады.</p>
        {% endif %}
        </div>
        <button type="submit">Артқа қайту</button>
    </form>
</body>
</html>